.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}